<!DOCTYPE html>
<html>
<head>
	<title>{{mustache}}</title>
</head>
<body>
<div>
	<button type="button" id="sortData">排序</button>
	<button type="button" id="addData">添加数据</button>
</div>	
<script type="text/javascript" src="/require.js" data-main="bar" defer="true" async="true"></script>
</body>
</html>