<!DOCTYPE html>
<html>
<head>
	<title>{{mustache}}</title>
</head>
<body>
	<h1>{{text}}</h1>
<p></p>
<div id="circle"></div>
<script type="text/javascript" src="/require.js" data-main="main" defer="true" async="true"></script>
</body>
</html>