<!DOCTYPE html>
<html>
<head>
	<title>Select Set</title>
</head>
<body>
<p>{{text}}</p>
<div id="important">hehe!</div>
<p class="rw">red words</p>
<p class="rw"> second red words</p>
<script type="text/javascript" src="/require.js" data-main="select" defer="true" async="true"></script>
</body>
</html>